h1{
  border-style: solid;
  border-radius: 10px;
  border-color: red;
  border-width: 5px;
}

h2{
  border: 3px inset green;
  border-radius: 20px;
}

p{
  border-bottom: 3px solid red;
  border-right: 3px dotted yellow;
  border-left: 3px dotted rgb(56, 7, 217);
  border-top: 3px dashed rgb(223, 7, 223);
  border-radius: 15px;
}